@use './lib.scss' as *;

.game_start--page {
  padding: 0 4rem;
  width: 70%;
  .start--page_rules {
    font-size: 1.4em;
    margin-bottom: 4rem;
    li {
      margin: 1rem 0;
    }

    .rules_rules--list {
      .rules--list_green {
        color: $green;
      }
      .rules--list_yellow {
        color: $yellow;
      }
      .rules--list_red {
        color: $red;
      }
    }
  }

  .user--form {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto;
    .user--form_letter--amount {
      outline: none;
      border-radius: 1rem;
      border: 2px solid black;
      padding: 0.4rem;
      font-size: 1rem;
      font-family: 'DS Marker Felt', sans-serif;

      &:focus {
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
      }
    }

    .user--error {
      grid-row: 2;
      font-size: 1.2em;
      color: $red;
    }

    .user--form_unique--letters {
      display: flex;
      gap: 1rem;
      margin: 0 auto;
      .uniqueLabel {
        width: 0.4em;
      }
      .unique--letters_checkbox {
        width: 25px;
        height: 25px;
        appearance: none;
        border: 2px solid #444;
        border-radius: 8px;
        background-color: white;

        &:checked {
          background-color: $green;
        }
      }
    }

    .user--form_play--button {
      display: block;
      margin: 1rem auto;
      width: 100%;
      font-size: 3rem;
      grid-row: 3;
      grid-column: 1/4;
      background-color: $green;
      color: white;
      border-radius: 15px;
      border: none;
      font-family: 'DS Marker Felt', sans-serif;

      &:hover {
        background-color: #00e000;
      }
    }
  }

  .start--page_direction--btns {
    display: flex;
    justify-content: space-between;
    .direction--btns_highscore {
      background-color: $yellow;
      border-radius: 15px;
      border: none;
      font-size: 2rem;
      font-family: 'DS Marker Felt', sans-serif;
      padding: 0.1rem 10%;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: #e2db00;
      }
    }

    .direction--btns_about {
      background-color: $red;
      border-radius: 15px;
      border: none;
      font-size: 2rem;
      font-family: 'DS Marker Felt', sans-serif;
      padding: 0.1rem 10%;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: #df0000;
      }
    }
  }
}
