@use './lib.scss' as *;
@use './startPage.scss';
@use './playPage.scss';
@use './winPage.scss';

html,
body {
  margin: 0;
  font-family: 'DS Marker Felt', sans-serif;
}

html {
  background-color: rgb(130, 206, 241);
  background-image: url('/img/background.png');
  background-size: 100vh;

  .game {
    background-color: white;
    width: 50%;
    max-width: 800px;
    min-width: 450px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px 10px rgb(0, 0, 0, 0.2);
    position: relative;

    .game_header {
      display: block;
      width: 70%;
      margin: 2rem auto;
    }
  }

  .user--error {
    display: none;
  }
  .error--active {
    & .user--error {
      display: block;
    }
  }

  .back--to--start {
    background-color: $red;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0.2em 2em;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-family: 'DS Marker Felt', sans-serif;

    a {
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: #df0000;
    }
  }
}
