.startPage {
  padding: 0 4rem;
  width: 70%;
}
.startPage .rules {
  font-size: 1.4em;
  margin-bottom: 4rem;
}
.startPage .rules li {
  margin: 1rem 0;
}
.startPage .rules .rulesList .green {
  color: #00c300;
}
.startPage .rules .rulesList .yellow {
  color: #fff500;
}
.startPage .rules .rulesList .red {
  color: #ff0000;
}
.startPage .user-form {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;
}
.startPage .user-form .charMount {
  outline: none;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: "DS Marker Felt", sans-serif;
}
.startPage .user-form .charMount:focus {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.startPage .user-form .user-error {
  grid-row: 2;
  font-size: 1.2em;
  color: #ff0000;
}
.startPage .user-form .uniqueDiv {
  display: flex;
  gap: 2.5rem;
  margin: 0 auto;
}
.startPage .user-form .uniqueDiv .uniqueLabel {
  width: 0.4em;
}
.startPage .user-form .uniqueDiv .uniqueCheckbox {
  width: 25px;
  height: 25px;
  appearance: none;
  border: 2px solid #444;
  border-radius: 4px;
  background-color: white;
}
.startPage .user-form .uniqueDiv .uniqueCheckbox:checked {
  background-color: #00c300;
}
.startPage .user-form .playButton {
  display: block;
  margin: 1rem auto;
  width: 100%;
  font-size: 3rem;
  grid-row: 3;
  grid-column: 1/4;
  background-color: #00c300;
  color: white;
  border-radius: 15px;
  border: none;
  font-family: "DS Marker Felt", sans-serif;
}
.startPage .user-form .playButton:hover {
  background-color: #00e000;
}
.startPage .directionBtns {
  display: flex;
  justify-content: space-between;
}
.startPage .directionBtns .highscoreBtn {
  background-color: #fff500;
  border-radius: 15px;
  border: none;
  font-size: 2rem;
  font-family: "DS Marker Felt", sans-serif;
  padding: 0.1rem 10%;
}
.startPage .directionBtns .highscoreBtn a {
  color: white;
  text-decoration: none;
}
.startPage .directionBtns .highscoreBtn:hover {
  background-color: #e2db00;
}
.startPage .directionBtns .aboutButton {
  background-color: #ff0000;
  border-radius: 15px;
  border: none;
  font-size: 2rem;
  font-family: "DS Marker Felt", sans-serif;
  padding: 0.1rem 10%;
}
.startPage .directionBtns .aboutButton a {
  color: white;
  text-decoration: none;
}
.startPage .directionBtns .aboutButton:hover {
  background-color: #df0000;
}

.playPage {
  padding: 0 4rem;
  width: 70%;
}
.playPage .user-form {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
}
.playPage .user-form .guessInput {
  border-radius: 15px;
  border: 2px solid black;
  outline: none;
  padding: 0.2em 0 0 1em;
  font-family: "DS Marker Felt", sans-serif;
  font-size: 1.2em;
}
.playPage .user-form .guessInput:focus {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.playPage .user-form .guessBtn {
  background-color: #ff0000;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 0.2em 2em;
  width: 90%;
  margin: 0 auto;
  font-family: "DS Marker Felt", sans-serif;
}
.playPage .user-form .guessBtn:hover {
  background-color: #df0000;
}
.playPage .user-error {
  grid-row: 2;
  font-size: 1.2em;
  color: #ff0000;
}
.playPage .answerList {
  display: grid;
  justify-content: center;
}
.playPage .answerList ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.playPage .answerList ul .letter {
  padding: 1.2em;
  margin: 0 0.5em;
  border-radius: 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.playPage .answerList ul .correct {
  background-color: #00c300;
}
.playPage .answerList ul .misplaced {
  background-color: #fff500;
}
.playPage .answerList ul .incorrect {
  background-color: #ff0000;
}
.playPage .backToStart {
  background-color: #ff0000;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  padding: 0.2em 2em;
  position: fixed;
  bottom: 2rem;
  left: 28%;
  font-family: "DS Marker Felt", sans-serif;
}
.playPage .backToStart:hover {
  background-color: #df0000;
}

.winPage {
  padding: 0 4rem;
  width: 70%;
}
.winPage .answerList {
  display: grid;
  justify-content: center;
}
.winPage .answerList ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.winPage .answerList ul .letter {
  padding: 1.2em;
  margin: 0 0.5em;
  border-radius: 0.5em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.winPage .answerList ul .correct {
  background-color: #00c300;
}
.winPage .answerList ul .misplaced {
  background-color: #fff500;
}
.winPage .answerList ul .incorrect {
  background-color: #ff0000;
}

html,
body {
  margin: 0;
  font-family: "DS Marker Felt", sans-serif;
}

html {
  background-color: rgb(130, 206, 241);
  background-image: url("/img/background.png");
  background-size: 100vh;
}
html .game {
  background-color: white;
  width: 50%;
  max-width: 800px;
  min-width: 450px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
}
html .game .header {
  display: block;
  width: 70%;
  margin: 2rem auto;
}
html .user-error {
  display: none;
}
html .error-active .user-error {
  display: block;
}

/*# sourceMappingURL=index.css.map */
