@use './lib.scss' as *;

.aboutPage {
  .textDiv {
    width: 80%;
    margin: 0 auto;
    .funMessage {
      margin-top: 4rem;
    }
    .mvh {
      font-size: 0.8em;
      text-decoration: underline;
    }
  }

  .backToStart {
    background-color: $red;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 0.8rem;
    padding: 0.2em 2em;
    position: fixed;
    bottom: 2rem;
    left: 28%;
    font-family: 'DS Marker Felt', sans-serif;

    a {
      color: white;
      text-decoration: none;
    }

    &:hover {
      background-color: #df0000;
    }
  }
}
