@use './lib.scss' as *;

.about--page {
  .about--page_text--content {
    width: 80%;
    margin: 0 auto;
    .text-content_fun--message {
      margin-top: 4rem;
    }
    .text--content_kind--regards {
      font-size: 0.8em;
      text-decoration: underline;
    }
  }
}
