@use './lib.scss' as *;
@use 'highscore.scss';

html,
body {
  margin: 0;
  font-size: 24px;
  font-family: 'DS Marker Felt', sans-serif;
}

html {
  background-color: rgb(130, 206, 241);
  background-image: url('./background.png');
  background-size: 100vh;
  body {
    background-color: #fff;
    width: 50%;
    margin: 0 auto 0 auto;
    height: 100vh;
    .headerImage {
      width: 80%;
      margin: 0 auto 2rem auto;
      display: block;
    }
  }
}
