@use './lib.scss' as *;
@use 'highscore.scss';
@use './about.scss';

html,
body {
  margin: 0;
  font-size: 24px;
  font-family: 'DS Marker Felt', sans-serif;
}

html {
  background-color: rgb(130, 206, 241);
  background-image: url('./background.png');
  background-size: 100vh;
  body {
    background-color: #fff;
    margin: 0 auto 0 auto;
    width: 50%;
    max-width: 800px;
    min-width: 450px;
    height: 100vh;
    position: relative;
    box-shadow: 0 0 15px 10px rgb(0, 0, 0, 0.2);

    .header--image {
      width: 80%;
      margin: 0 auto 2rem auto;
      padding-top: 2rem;
      display: block;
    }

    .back--to--start {
      background-color: $red;
      border: none;
      color: white;
      border-radius: 15px;
      font-size: 0.8rem;
      padding: 0.2em 2em;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      font-family: 'DS Marker Felt', sans-serif;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: #df0000;
      }
    }
  }
}
